@media only screen and (max-width: 1870px) {
    .form-contact .text:nth-child(odd) {
        margin-right: 4%;
    }
    #mainnav ul.sub-menu {
        width: 215px;
        left: -90px;
    }
    #mainnav ul.sub-menu:before {
        left: 110px;
    }
}
@media only screen and (max-width: 1750px) {

}
@media only screen and (max-width: 1600px) {
    .info-header {
        display: none;
    }
    .comments-area ul.children {
        list-style: none;
        margin-left: 40px;
    }
    .themesflat-action-box {
        padding: 60px 45px 24px;
    }
}
@media only screen and (max-width: 1440px) {
    .themesflat-top.style-01 {
        padding-left: 15px;
        padding-right: 10px;
    }
    .header-01 .header-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }
    #mainnav > ul > li {
        margin: 0 10px;
    }
}
@media only screen and (max-width: 1366px) {
    .wrap-btn-header .btn-header {
        padding: 22px 20px;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 1320px) {
    #footer .wrap-widgets-1 {
        padding-right: 3em;
    }
    #footer .wrap-widgets-2 {
        padding-left: 3em;
    }

    #header .header-wrap .nav-wrap {
        margin: 0 15px;
    }
    .themesflat-boxed {
        overflow: hidden;
    }
}
@media only screen and (max-width: 1255px) {
    .top-search .top-inner-search {
        padding: 15px;
    }
    .header-cart-wrapper {
        display: none;
    }
    .header-01 .wrap-btn-header .btn-header {
        padding: 22px 20px;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 1220px) {
    #header.header-style1 .nav-wrap {
        padding-left: 0;
    }
    #mainnav ul.sub-menu {
        padding: 15px;
        width: 200px;
    }
    #header.header.header-02,
    #header.header.header-02 .inner-header {
        padding: 0;
    }
}
@media only screen and (max-width: 1210px) {
    #header .inner-header,
    #header.header.header-default .inner-header,
    .class-name-page-home-03 #header.header.header-default .inner-header,
    .themesflat-top.default .container {
        padding: 0;
    }
    .action-btn,
    .modal-menu-left-btn {
        right: 15px;
    }
    .header-default .header-wrap .header-ct-left,
    .header-default .header-wrap .header-ct-right {
        padding: 0;
        border: unset;
    }
    .single .entry-footer .tags-links a {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1170px) {
    .btn-header {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 1150px) {
    #header .header-wrap .header-ct-right .tf-btn {
        display: none;
    }
    #header.header-style1 .logo {
        min-width: unset;
        min-height: unset;
        background: 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
        box-shadow: none;
    }
    .header-01 .themesflat-top .container-inside .content-left {
        margin-left: 0;
    }
}
@media only screen and (max-width: 1100px) {
    .header-02 .flat-language {
        margin-right: 0;
    }
    .wrap-btn-header .btn-header {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .blog-post.has-post-thumbnail .content-post .featured-post {
        padding-left: 10px;
    }
    .blog-post.has-post-thumbnail .content-post .featured-post::before {
        left: -7%;
        top: -10%;
    }
    .themesflat-action-box h4 {
        margin-top: 20px;
    }
    .widget.widget-recent-news .thumb,
    .widget.widget_latest_news .thumb {
        margin-right: 20px;
    }
    .page-title {
        background-position: center center;
    }
    .blog-single .featured-post {
        margin-left: 0;
    }
    .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-right .content-area {
        padding-right: 50px;
    }
    blockquote {
        margin: 0 40px 37px;
    }
    article .bottom-blog {
        margin-top: 15px;
    }
    .blog-list article,
    .item article {
        margin-bottom: 60px;
    }
    #header .header-wrap .header-ct-right .phone-header-box h3 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 991px) {

    .themesflat-top.style-01 ,#header.header-01 .header-wrap .header-ct-center,.header-02 .header-ct-right .themesflat-socials{
        display: none;
    }
    #footer .wrap-widgets-1 {
        padding-right: 0em;
    }
    #footer .wrap-widgets-2 {
        padding-left: 0em;
    }

    #themesflat-content {
        padding-top: 70px;
    }
    .blog #themesflat-content,
    .error404 #themesflat-content,
    .single-post #themesflat-content,
    .single-product #themesflat-content,
    .woocommerce-shop #themesflat-content {
        padding-bottom: 70px;
    }
    .info-header {
        display: flex;
    }
    .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-right .content-area {
        border: none;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    .btn-menu,
    .header-01 .wrap-btn-header,
    .header-modal-menu-left-btn,
    .sidebar .wpcf7-form-control-wrap,
    .vertical-center,
    .wrap-btn-header .btn-header {
        display: block;
    }
    #header.header-style1 .logo {
        min-width: unset;
        min-height: unset;
        background: 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
        box-shadow: none;
    }
    #header.header-style1 #logo-mobi {
        min-width: 220px;
        min-height: 110px;
        background: var(--theme-secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        margin-bottom: 0;
    }
    .header-02 #header .inner-canvas-nav .logo {
        margin-top: 0;
        justify-content: left;
        padding-right: 0;
        padding-left: 20px;
    }
    #mainnav-mobi .menu {
        overflow-y: auto;
        max-height: 100vh;
    }
    #header .header-info-item,
    #header .header-text,
    #header .header-wrap .header-ct-center .inner-center,
    #header.header-default .header-wrap .header-ct-center .inner-center,
    #mainnav,
    .form-email button i,
    .header-02 .bottom-header,
    .header-03 .bottom-header,
    .header-modal-menu-left-btn {
        display: none;
    }
    #mainnav-mobi .megamenu.col-2,
    #mainnav-mobi .megamenu.col-3,
    #mainnav-mobi .megamenu.col-4,
    #mainnav-mobi .megamenu.col-5,
    #mainnav-mobi .megamenu.col-6 {
        -webkit-box-flex: unset;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    #secondary .sidebar {
        margin-top: 50px;
    }
    .header-widget .header-top .wrap-logo .logo {
        padding-bottom: 0;
    }
    .footer #widget_latest_news-3,
    .footer-widgets #nav_menu-2,
    .footer-widgets .wrap-widgets-2,
    .footer-widgets .wrap-widgets-3,
    .footer-widgets .wrap-widgets-3 .widget.widget_latest_news,
    .footer_s3 #mc4wp_form_widget-2,
    .footer_s3 #widget_themesflat_socials-10,
    .header-left .adv-section {
        margin-left: 0;
    }
    #header.header.header-02,
    .admin-bar.header-left #header,
    .page-wrap.sidebar-right .widget-area,
    .themesflat-top.style-01 .infor-topbar {
        padding: 0;
    }
    .header-left .header-wrap,
    .image-100-percent img,
    .width_45Percent,
    .width_55Percent {
        width: 100%;
    }
    .header-left .logo {
        text-align: left;
        display: inline-block;
        margin: 15px 0;
    }
    .header-left .btn-menu {
        float: right;
        margin: 32px 0;
    }
    .header-left #header {
        width: 100%;
        max-width: 100%;
        height: auto;
        top: auto;
        position: relative;
        overflow-y: unset;
        -webkit-overflow-scrolling: unset;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
    }
    .header-left header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-left #mainnav-mobi {
        left: 0;
    }
    .header-left .themesflat-boxed {
        margin: 0 auto;
    }
    .flat-social-header {
        padding-top: 0;
    }
    .header-left #header .themesflat-socials {
        padding: 15px 0;
    }
    .comments-area ul.children {
        margin-left: 30px;
    }
    .page-wrap.sidebar-left .content-area,
    .page-wrap.sidebar-left .widget-area,
    .page-wrap.sidebar-right .content-area,
    .page-wrap.sidebar-right .widget-area,
    .single .page-wrap.sidebar-left .content-area,
    .single .page-wrap.sidebar-right .content-area {
        float: none;
        width: 100% !important;
        padding-right: 0;
        padding-left: 0;
        position: relative;
    }
    .blog-grid-simple.columns-4 > .item,
    .blog-grid.columns-4 > .item,
    .mobi-2column {
        width: 50%;
        float: left;
    }
    .footer-widgets .wrap-widgets-1,
    .footer-widgets .wrap-widgets-2,
    .mobi-mgb40,
    footer .widget {
        margin-bottom: 40px;
    }
    .footer .widgets-areas:last-of-type,
    .footer-widgets .wrap-widgets-3 > .widget:last-child,
    .footer-widgets .wrap-widgets-4 > .widget:last-child,
    footer .wrap-widgets-4 .widget:last-child {
        margin-bottom: 0;
    }
    .blog-grid-simple article .entry-meta ul li > i {
        font-size: 17px;
        padding-right: 5px;
    }
    .blog-grid-simple article .content-post {
        padding: 20px;
    }
    .portfolio-single .entry-content {
        padding-right: 0;
        margin-bottom: 40px;
    }
    .page-template-comming-soon-s1.admin-bar .section-comming-soon .box-comming-soon {
        top: 46px;
    }
    .mobi-mgb30 {
        margin-bottom: 30px;
    }
    .mobi-mgt30 {
        margin-top: 30px;
    }
    .mobi-mgt40 {
        margin-top: 40px;
    }
    .footer-widgets .wrap-widgets-2,
    .footer-widgets .wrap-widgets-4 {
        padding-left: 0;
    }
    .sidebar .widget-instagram-feed .item {
        height: auto;
    }
    .mobi-center {
        text-align: center !important;
    }
    .mobi-left {
        text-align: left !important;
    }
    .desk-mt-117px {
        margin-top: 0;
    }
    .desk-top-117px {
        top: 0;
        background-image: none !important;
        background-color: #f4f4ff;
    }
    .desk-mt-100px,
    .vc_custom_1565857093600 {
        margin-top: 0 !important;
    }
    .page-wrap.sidebar-right .widget-area,
    ul.box-contact {
        margin: 0;
    }
    .bg-text:before,
    .border-style2 > .inner:before,
    .border-style3 > .inner:before,
    .flat-calendar:before,
    .mobi-none {
        display: none !important;
    }
    .width_55Percent {
        margin-bottom: 50px;
    }
    .custom-search .search-form .search-submit {
        width: 80px;
    }
    .mobi-heading-lh14 .heading,
    .mobi-sub-heading-lh14 .sub-heading {
        line-height: 1.4 !important;
    }
    .mobi-heading-lh117 .heading,
    .mobi-sub-heading-lh117 .sub-heading {
        line-height: 1.17 !important;
    }
    .mobi-font30 {
        font-size: 30px !important;
    }
    .page-title .wrap-button-page-title {
        justify-content: center;
        margin-top: 30px;
    }
    .blog-list article .content-post p {
        padding-right: 0;
    }
    .error-404-text h2 {
        font-size: 250px;
        letter-spacing: -15px;
        background-position: top center;
    }
    .block-get-a-quote {
        min-height: unset;
    }
    .themesflat-top .container-inside,
    .themesflat-top .container-inside .content-left,
    .themesflat-top .container-inside .content-right {
        flex-wrap: wrap;
        justify-content: center;
    }
    .themesflat-top.style-01 .container-inside .content-left {
        justify-content: left;
        margin-bottom: 0;
    }
    .themesflat-top.style-01 .container-inside .content-right {
        justify-content: right;
    }
    .themesflat-top .container-inside .content-left {
        margin-bottom: 10px;
    }
    .form-email button {
        padding: 17px 10px;
        font-size: 13px;
    }
    .themesflat-action-box .inner .heading-wrap {
        width: 70%;
    }
    #header.header-02 .logo {
        justify-content: left;
    }
    .contact-form-ip {
        padding: 55px 35px;
    }
    .contact-form-ip .tf-title-section .title-section .heading {
        margin: 0 10%;
    }
}
@media only screen and (max-width: 870px) {
    .info-header {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    ul#menu-footer-bottom {
        padding-left: 0px;
    }
     .blog .page-title.default .page-title-heading {
        margin-bottom: 1px;
        font-size: 35px;
    }
    .page-title {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #footer .wrap-widgets-2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .btn-video {
        padding-left: 65px;
    }
    .btn-video::before {
        width: 50px;
        height: 50px;
    }
    .header-01 .themesflat-top,
    .header-03 .themesflat-top {
        height: auto;
        line-height: unset;
        padding: 10px 0;
    }
    .themesflat-top.style-01 .container-inside .content-left,
    .themesflat-top.style-01 .container-inside .content-right {
        justify-content: center;
    }
    .themesflat-top.style-01 .themesflat-socials li {
        border: unset !important;
    }
    .form-contact .text:nth-child(odd) {
        margin-right: 0;
    }
    .themesflat-action-box .button-wrap,
    .themesflat-action-box .heading-wrap {
        width: 100%;
        display: block;
        text-align: center;
    }
    .contact-form-ip .top .wpcf7-form-control-wrap input,
    .navigation.paging-navigation span,
    .page-links a,
    .page-links > span,
    .pagination > span,
    .themesflat-top.style-01 .container-inside .content-left {
        margin-bottom: 15px;
    }
    .mobi-mb20,
    .themesflat-action-box .heading-wrap {
        margin-bottom: 20px;
    }
    .comment-respond .comment-left .email-container,
    .comment-respond .comment-left .name-container,
    .footer-widgets .widget.widget_nav_menu ul li,
    .form-contact .text,
    .form-contact .text input,
    .single-portfolios .entry-content .image-content-left .img-bottom img,
    .single-portfolios .entry-content .image-content-left .img-top img,
    .themesflat-action-box .inner .heading-wrap,
    .themesflat-action-box .inner .image-acb {
        width: 100%;
    }
    .header-02 .themesflat-top .content-left ul li {
        margin-right: 10px;
        padding-right: 10px;
    }
    .header-02 .themesflat-top .content-left ul li:last-child {
        margin-right: 0;
        padding-right: 0;
    }
    .contact-page .group-ip,
    .navigation.paging-navigation .pagination,
    .navigation.paging-navigation.pager,
    .page-title.inline .breadcrumbs,
    .page-title.inline .page-title-container h1,
    .themesflat-action-box .inner {
        display: block;
    }
    .blog-grid-simple.columns-2 > .item,
    .blog-grid-simple.columns-3 > .item,
    .blog-grid-simple.columns-4 > .item,
    .blog-grid.columns-2 > .item,
    .blog-grid.columns-3 > .item,
    .blog-grid.columns-4 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-2 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-3 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-4 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid-simple > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-2 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-3 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid.columns-4 > .item,
    .page-wrap.fullwidth-small .content-area .blog-grid > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-2 > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-3 > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-4 > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-2 > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-3 > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-4 > .item,
    .page-wrap.fullwidth-small .wrap-content-area .blog-grid > .item {
        float: none;
        width: 100%;
    }
    .blog-grid-simple article .content-post {
        padding: 25px 30px;
    }
    .blog-list article .post-meta,
    .item article .post-meta,
    .page-title.inline .page-title-container h1 {
        margin-bottom: 10px;
    }
    .info-item,
    .mobi-mb30,
    .navigation.posts-navigation .nav-links li,
    .single-portfolios .entry-content .image-content-left .img-bottom,
    .themesflat_sc_vc-icon-box.one-haft {
        margin-bottom: 30px;
    }
    .page-title.inline .breadcrumbs {
        text-align: left;
    }
    .blog-single .post-meta,
    .box-comming-soon {
        padding: 15px;
    }
    .comming-soon-countdown .square .numb {
        font-size: 30px;
    }
    .one-haft {
        width: 100%;
        float: none;
    }
    .author-post .themesflat-socials,
    .bottom .container-inside .content-right {
        margin-top: 10px;
    }
    .infor-topbar {
        text-align: center;
        padding: 0 15px;
    }
    .bottom .themesflat-socials {
        margin-top: 0;
        margin-right: 0;
    }
    .form-ac-footer .content-left {
        justify-content: center;
        margin-bottom: 20px;
    }
    #header .header-wrap .header-ct-right .phone-header-box,
    .border-style1:before,
    .doubleline:after,
    .doubleline:before,
    .header-02 .themesflat-top.style-01 .container-inside .content-right,
    .mmobi-none,
    .mobi-small-hide,
    .smobi-hide,
    article .entry-footer .social-share-article h5 {
        display: none;
    }
    .mmobi-center {
        text-align: center !important;
    }
    .mmobi-left {
        text-align: left !important;
    }
    .footer-widgets .widget.widget_nav_menu ul li {
        float: none;
    }
    .wrap-job-list .button-job,
    .wrap-job-list .info-job,
    .wrap-job-list .title-job {
        width: auto;
        display: block;
        float: none;
        margin: 0 0 15px;
    }
    .blog-post.post_format-post-format-image.has-post-thumbnail .content-post {
        padding: 25px;
    }
    .button-topbar {
        margin-left: 0;
    }
    .bottom .container-inside {
        display: block;
        justify-content: unset;
        align-items: unset;
        text-align: center;
    }
    .wrap-info-item {
        display: block;
        align-items: unset;
        width: 100%;
        position: relative;
        padding: 46px 15px 23px;
    }
    .info-item {
        flex-grow: unset;
        justify-content: unset;
        display: block;
        align-items: unset;
        max-width: 100%;
    }
    .elementor-widget-container .mc4wp-form input[type="email"] {
        padding: 16px 20px;
        margin-bottom: 10px;
    }
    .elementor-widget-container .mc4wp-form input[type="submit"] {
        position: unset;
        right: auto;
        top: auto;
        transform: translateY(0);
        max-width: 100%;
    }
    .dark-form p,
    .transparent-form p {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .related-post .box-title {
        font-size: 60px;
    }
    .related-post.related-posts-box {
        margin-top: 80px;
    }
    .themesflat-action-box {
        padding: 60px 20px;
    }
    blockquote {
        margin: 0 0 37px;
    }
    .single .author-post {
        padding: 30px 15px;
    }
    .nav-links .previous-post {
        width: 100%;
        float: unset;
        text-align: left;
    }
    .nav-links .next-post {
        width: 100%;
        float: unset;
    }
    #header.header-02 .logo {
        justify-content: left;
    }
    .contact-form-ip .tf-title-section .title-section .heading {
        margin: 0;
        font-size: 30px;
    }
    .contact-form-ip .top {
        display: block;
        margin-left: 0;
        margin-bottom: 0;
    }
    .contact-form-ip .top .wpcf7-form-control-wrap {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .comment-reply-title a#cancel-comment-reply-link {
        padding-left: 0;
        float: left;
    }
    .blog-single .content-post-single .post-meta {
        padding: 0;
        margin-bottom: 5px;
    }
    .portfolio-filter li {
        margin-bottom: 25px !important;
    }
}
@media only screen and (max-width: 700px) {
    .header-02 .themesflat-top .container-inside .content-left {
        text-align: center;
    }
    .header-02 .themesflat-top .content-left ul li {
        border: none;
    }
    .blog-post.post_format-post-format-image.has-post-thumbnail .featured-post {
        margin-bottom: -105px;
    }
    .blog-post.post_format-post-format-image.has-post-thumbnail .content-post {
        position: relative;
        top: unset;
        left: unset;
        margin: 0 5.3%;
        width: auto;
        transform: unset;
    }
    .blog-post.post_format-post-format-image.has-post-thumbnail .content-post .post-meta .item-meta.post-date a {
        margin-left: -46px;
    }
}
@media only screen and (max-width: 635px) {
    .blog-single .content-post-single {
        display: block;
    }
    .video-video-box-button-sm {
        top: 4%;
    }
    .blog-post.has-post-thumbnail .content-post .featured-post::before,
    .wrap-btn-header .btn-header {
        display: none;
    }
    .themesflat-top .content-left ul li {
        margin-right: 5px;
        padding-right: 5px;
    }
    article .post-meta .item-meta.post-date {
        margin-right: 10px;
    }
    article .entry-meta ul li,
    article .post-meta .item-meta {
        margin-right: 25px;
    }
    article .post-meta .item-meta.post-author::after,
    article .post-meta .item-meta.post-comments::after {
        right: -12px;
    }
    article .post-meta .item-meta .meta-icon {
        margin-right: 5px;
        font-size: 16px;
    }
    article .entry-title {
        font-size: 25px;
    }
}
@media only screen and (max-width: 600px) {
    .modal-menu-left .modal-menu__body {
        width: calc(100% - 50px);
    }
    .btn-video::before,
    .go-top {
        width: 40px;
        height: 40px;
    }
    .modal-menu__panel-body,
    .modal-menu__panel-footer {
        padding: 60px 30px;
    }
    .modal-menu__panel-header {
        padding: 10px;
    }
    #mainnav-secondary .menu .menu-item-has-children > span {
        right: 0;
    }
    .comments-area ol.comment-list article .gravatar {
        float: none;
        display: block;
        border-radius: 50%;
        top: auto;
        left: auto;
        position: relative;
    }
    .comments-area ol.comment-list article {
        position: relative;
        padding-left: 0;
    }
    .themesflat-top .flat-information {
        text-align: center;
    }
    .themesflat-top .content-left ul li {
        border: none;
    }
    .go-top {
        bottom: 100px;
    }
    .go-top i {
        line-height: 40px;
    }
    .btn-video {
        padding-left: 45px !important;
    }
    .btn-get-started.rev-btn {
        padding: 17px 43px 17px 15px !important;
    }
    .btn-get-started.rev-btn i {
        right: 15px;
    }
}
@media only screen and (max-width: 575px) {
    .video-video-box-button-sm.video-box-button-lg button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    .comments-area ul.children {
        margin-left: 20px;
    }
    ul.box-contact li .wrap-icon {
        float: none;
        margin-right: 0;
    }
    ul.box-contact li .wrap-info {
        overflow: hidden;
        margin-top: 15px;
    }
    .box-contact li {
        padding: 43px 30px 40px;
    }
    .error-404-text h2 {
        font-size: 200px;
        letter-spacing: -10px;
    }
    .wrap-btn-header {
        display: none;
    }
    .single .entry-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .single .entry-footer .social-share-article {
        margin-top: 20px;
    }
    article .post-meta .item-meta,
    article .post-meta .item-meta.post-date a {
        font-size: 12px;
    }
}
@media (max-width: 499px) {
    .header-02 #header #logo a img {
        width: 130px;
    }
    .header-02 .themesflat-top .content-left ul li,
    .header-02 .themesflat-top .content-left ul li > i {
        font-size: 12px;
    }
    .bottom .content-left,
    .bottom .content-right {
        display: block;
        text-align: center !important;
    }
    .bottom .content-left {
        margin-bottom: 15px;
    }
    .bottom .content-right .text-left {
        margin-bottom: 10px;
    }
    .comments-area ol.comment-list article:after,
    .comments-area ol.comment-list article:before,
    .mobi-supper-small-hide,
    article .post-meta .item-meta.post-author::after,
    article .post-meta .item-meta.post-comments::after {
        display: none;
    }
    .comments-area blockquote {
        margin: 10px 0 30px;
        padding: 10px 15px 20px;
    }
    .comments-area ol.comment-list article .comment_content .comment_text {
        overflow-x: auto;
    }
    .comment-list-wrap .comment-respond,
    .comments-area ol.comment-list article {
        margin-bottom: 30px;
    }
    .page-wrap.fullwidth-small .content-area,
    .page-wrap.fullwidth-small .wrap-content-area {
        width: 100%;
        max-width: 100%;
    }
    .section-comming-soon .title-comming-soon {
        font-size: 35px;
    }
    .smobi-center {
        text-align: center !important;
    }
    .smobi-left {
        text-align: left !important;
    }
    .header-style1 .flat-language {
        margin-left: 0;
    }
    .themesflat_sc_vc-headings.left-icon-testimonial {
        padding-left: 0;
    }
    .themesflat_sc_vc-headings.left-icon-testimonial:before {
        position: relative;
        margin-bottom: 10px;
    }
    .desk-pd-left81px {
        padding: 0 30px;
    }
    .header-style2 #header .header-wrap .header-ct-center,
    .header-style2 #header .header-wrap .header-ct-left,
    .header-style2 #header .header-wrap .header-ct-right {
        min-width: auto;
    }
    #header.header-style3 .logo {
        min-width: 230px;
    }
    article .post-meta .item-meta {
        margin-right: 15px;
        line-height: 35px;
    }
}
@media (max-width: 460px) {
    .video-video-box-button-sm {
        right: 1%;
    }
    .wrap-therapists-post .therapists-post .features-post {
        margin-bottom: 13px !important;
    }
}
@media (max-width: 425px) {
    .wrap-cart-count .content-text {
        display: none !important;
    }
    .error-404-text h2 {
        font-size: 160px;
        letter-spacing: -5px;
    }
    .header-modal-menu-left-btn {
        display: none;
    }
}
@media (max-width: 375px) {
    footer .widget.widget_nav_menu .widgettitle::before {
        content: '';
        width: 13px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background-color: currentColor;
    }
    footer .widget.widget_nav_menu .widgettitle::after {
        content: '';
        width: 2px;
        height: 13px;
        position: absolute;
        top: 50%;
        right: 20.5px;
        transform: translateY(-50%);
        background-color: currentColor;
    }
    footer .widget.widget_nav_menu .widgettitle.active::after {
        display: none;
    }
    .wrap-widgets-2 .widget_nav_menu .menu{
        display: none;
    }
    .wrap-widgets-2 .widget_nav_menu .menu.active{
        display: block;
    }
    footer .widget.widget_nav_menu  h2 {
        margin-bottom: 0px;
        cursor: pointer;
    }
    .wrap-widgets-2 .widget_nav_menu .menu{
        margin-top: 20px;
    }
    #footer .wrap-widgets-2 .widget.widget_block {
        margin-bottom: 40px;
    }
    #footer .wrap-widgets-1 {
        margin-bottom: 20px;
    }
    .footer-widgets .wrap-widgets-1 .widget {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .wrap-widgets-2 .wp-block-group__inner-container {
        display: flex;
        gap: 0px;
        flex-direction: column;
    }
    .comments-area ol.comment-list article .comment_content .comment_meta .comment_author {
        margin-right: 5px;
    }
    #header.header-style3 .header-cart-wrapper,
    .header-style1 .flat-language {
        display: none;
    }
    .box-contact li {
        padding: 43px 20px 40px;
    }
    ul.box-contact li .wrap-info p {
        font-size: 24px;
    }
    .button-topbar {
        padding: 15px 45px 10px;
    }
    .button-topbar:after {
        width: 107%;
    }
    .canvas-nav-wrap .inner-canvas-nav {
        width: 80%;
    }
    .error-404-text h2 {
        font-size: 150px;
        letter-spacing: -5px;
    }
    .related-post .box-title {
        font-size: 50px;
    }
}
